<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="maven-central">
	<locations>
		<location path="${eclipse_home}" type="Profile"/>
		<location includeDependencyScope="compile" includeSource="true" missingManifest="generate" type="Maven">
			<groupId>com.squareup.okhttp3</groupId>
			<artifactId>okhttp</artifactId>
			<version>4.9.1</version>
			<type>jar</type>
		</location>
	</locations>
</target>