<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.jdt.core.IType"
            id="io.moderne.findUsages">
         <action
               label="Find usages on Moderne"
               enablesFor="1"
               id="io.moderne.findUsages.action">
         </action>
      </objectContribution>
   </extension>

</plugin>
